/* !VARIABLES */
:root{
  /* Roboto: weigth: [300, 400, 500, 700] / Paytone One: weigth: [400 default] */ 
  --fontRoboto: 'Roboto', sans-serif;
  --fontPaytone: 'Paytone One', sans-serif;

  --colorBackground: #fffcf6;
  --colorBackgroundDos: #f3f0e9;
  --colorBackBlur: #e6dfd2;
  --colorHover: #d6cfc1;
  --colorBorder: #cec7b8;
  --colorInput: #e2e2e2;

  --colorError: rgba(255, 0, 0, 0.329);
  --colorErrorFont: rgb(226, 55, 55);
  --colorSuccess: rgba(0, 128, 0, 0.356);
  --colorSuccessFont: rgb(10, 173, 10);
  --colorExists: rgba(75, 75, 255, 0.363);
  --colorExistsFont: rgb(44, 44, 233);
}

/* ----------------------------------------- GLOBALS ------------------------------------ */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container-countries,
.container-activities,
.container-about{
  width: 100%;
}
/* -------------------------------------------------------------------------------------- */




/* ----------------------------------------- APP ---------------------------------------- */
/* -------------------------------------------------------------------------------------- */




/* ----------------------------------------- ABOUT -------------------------------------- */
.container-about{
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100%;
  backdrop-filter: blur(4px);
  background-color: var(--colorBackBlur);
}
.container-interno-about{
  display: grid;
  justify-content: center;
  gap: 10px;
  width: 1200px;
  padding: 20px 0;
  background-color: var(--colorBackground);
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
}
.container-about-two{
  background-color: var(--colorBackgroundDos);
}

.container-about-one,
.container-about-two,
.container-about-three{
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 4px;
  grid-template-columns: repeat(2, 1fr);
  width: 1200px;
  height: 50vh;
}
.container-img-about{
  height: 100%;
}
.img-about{
  width: 598px;
  height: 100%;
}

.container-text-about{
  width: 598px;
  height: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
  padding: 0 10px;
}
.container-text-about > h2{
  font-family: var(--fontRoboto);
  font-weight: 500;
  font-size: 2.4rem;
}
.text-about{
  font-family: var(--fontRoboto);
  font-size: 1.2rem;
  font-weight: 300;
}
/* -------------------------------------------------------------------------------------- */




/* ----------------------------------------- ACTIVITIES --------------------------------- */
.container-activities{
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: var(--colorBackBlur);
  backdrop-filter: blur(4px);
}
.container-form-activities{
  display: grid;
  align-items: center;
  text-align: center;
  width: 1200px;
  height: 100%;
  background-color: var(--colorBackground);
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
}
.container-form-activities > h2{
  font-family: var(--fontRoboto);
  padding: 10px 0 0 0;
  font-size: 2.2rem;
  font-weight: 500;
  letter-spacing: .5px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.329);
}
.form-activities{
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.lbl-form{
  font-family: var(--fontRoboto);
  font-size: 1.2rem;
  font-weight: 400;
  margin: 12px 0 0 0;
  letter-spacing: .5px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.295);
}
.inputs-escritura{
  height: 25px;
  font-family: var(--fontRoboto);
  text-align: center;
  letter-spacing: .5px;
  outline: none;
  background-color: var(--colorBackBlur);
  border: 1px solid var(--colorBorder);
  box-shadow: 1px 1px 2px rgba(44, 44, 44, 0.178);
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}
.select-options{
  height: 25px;
  font-family: var(--fontRoboto);
  outline: none;
  padding: 0 5px 0 5px;
  background-color: var(--colorBackBlur);
  border: 1px solid var(--colorBorder);
  box-shadow: 1px 1px 2px rgba(44, 44, 44, 0.178);
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}
.select-options > option{
  background-color: var(--colorInput);
  font-family: var(--fontRoboto);
  color: black;
}


.container-countries-add{
  width: 350px;
  min-height: 50px;
  margin: 12px 0 12px 0;
  padding: 5px;
  background-color: var(--colorBackBlur);
  border: 1px solid var(--colorBorder);
  box-shadow: 1px 1px 2px rgba(44, 44, 44, 0.178);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.container-interno-add{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 6px;
}
.border-btn-country{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 4px;
  padding: 0 4px 0 4px;
  background-color: #b9b9b9a4;
  border: 1px solid #a8a8a8a4;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}
.lbl-country-add{
  font-family: var(--fontRoboto);
  font-weight: 300;
  font-size: .8rem;
}
.btn-delete-country{
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-family: var(--fontRoboto);
  font-weight: 300;
  font-size: .8rem;
}

.container-btn-form{
  display: flex;
  justify-content: space-around;
}
.btn-form{
  cursor: pointer;
  width: 80px;
  height: 30px;
  background-color: var(--colorBackBlur);
  font-family: var(--fontRoboto);
  font-size: .8rem;
  border: transparent;
  border-radius: 12px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}
.btn-create-form,
.btn-delete-all{
  color: black;
}
.btn-create-form:hover{
  transition: .2s all ease-in;
  background-color: var(--colorHover);
  color: rgba(58, 190, 58, 0.829);
  box-shadow: 1px 1px 4px rgba(44, 44, 44, 0.329);
  -webkit-transition: .2s all ease-in;
  -moz-transition: .2s all ease-in;
  -ms-transition: .2s all ease-in;
  -o-transition: .2s all ease-in;
}

.btn-delete-all:hover {
  transition: .2s all ease-in;
  background-color: var(--colorHover);
  color: rgba(202, 36, 36, 0.829);
  box-shadow: 1px 1px 4px rgba(44, 44, 44, 0.329);
  -webkit-transition: .2s all ease-in;
  -moz-transition: .2s all ease-in;
  -ms-transition: .2s all ease-in;
  -o-transition: .2s all ease-in;
}

.container-alert{
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 14vh;
}

.container-alert {
  display: grid;
  align-items: center;
  justify-content: center;
}
.container-error > h2,
.container-success > h2,
.container-exists > h2{
  font-family: var(--fontRoboto);
  font-weight: 300;
  font-size: 1rem;
  letter-spacing: 1px;
}
.container-error,
.container-success,
.container-exists{
  width: 400px;
  padding: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.container-error{
  background: linear-gradient(90deg, rgba(255, 0, 0, 0.171), rgba(255, 0, 0, 0.171));
  color: var(--colorErrorFont);
  border: 1px solid var(--colorError);
}
.container-success{
  background: linear-gradient(90deg, rgba(0, 211, 0, 0.171), rgba(0, 211, 0, 0.171));
  color: var(--colorSuccessFont);
  border: 1px solid var(--colorSuccess);
}
.container-exists{
  background: linear-gradient(90deg, rgba(75, 75, 255, 0.171), rgba(75, 75, 255, 0.171));
  color: var(--colorExistsFont);
  border: 1px solid var(--colorExists);
}
/* -------------------------------------------------------------------------------------- */




/* ----------------------------------------- COUNTRIES ---------------------------------- */
.container-countries{
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100%;
  backdrop-filter: blur(4px);
  background-color: var(--colorBackBlur);
}
.container-interno-countries{
  background-color: var(--colorBackground);
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
  width: 1200px;
}
.container-options-countries{
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: 60px;
}
.container-paginado{
  display: flex;
  gap: 10px;
}
.btn-paginado{
  cursor: pointer;
  border: transparent;
  width: 30px;
  background-color: var(--colorBackBlur);
  padding: 5px 6px;
  font-family: var(--fontRoboto);
  font-size: 1rem;
  font-weight: 400;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}
.btn-paginado:hover{
  transition: .2s all ease-in-out;
  background-color: var(--colorHover);
  -webkit-transition: .2s all ease-in-out;
  -moz-transition: .2s all ease-in-out;
  -ms-transition: .2s all ease-in-out;
  -o-transition: .2s all ease-in-out;
}
.counter-page{
  font-family: var(--fontRoboto);
  font-size: 1rem;
  font-weight: 400;
  padding: 5px 6px;
  background-color: var(--colorBackBlur);
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}
.container-filter{
  display: flex;
  gap: 10px;
}
.select-filtros{
  cursor: pointer;
  border: transparent;
  font-family: var(--fontRoboto);
  font-size: 1rem;
  font-weight: 400;
  background-color: var(--colorBackBlur);
  outline: none;
  width: 135px;
  padding: 5px 2px;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}
.select-filtros:hover{
  transition: .2s all ease-in-out;
  background-color: var(--colorHover);
  -webkit-transition: .2s all ease-in-out;
  -moz-transition: .2s all ease-in-out;
  -ms-transition: .2s all ease-in-out;
  -o-transition: .2s all ease-in-out;
}
.sort-filter{
  width: 95px;
}
.activity-filter{
  width: 120px;
}

.container-coutries-all{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px 0 20px 0;
  min-height: 500px;
}
.container-country-map{
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.link{
  text-decoration: none;
  color: black;
}
.container-country{
  min-height: 200px;
  min-width: 500px;
  padding: 10px;
}
.container-interno-country:hover{
  transition: .3s all ease-in-out;
  transform: scale(1.1);
  color: rgb(64, 64, 156);
  -webkit-transition: .3s all ease-in-out;
  -moz-transition: .3s all ease-in-out;
  -ms-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.container-img-country{
  padding: 10px;
}
.img-country{
  max-width: 300px;
  max-height: 200px;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.438);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.continent-country,
.name-country{
  font-family: var(--fontRoboto);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.281);
}
.name-country{
  font-size: 1.4rem;
}
.continent-country{
  font-size: 1rem;
}

.contenedor-nodata-countries > h1{
  font-family: var(--fontRoboto);
  font-size: 1.2rem;
  font-weight: 400;
  color: black;
}
/* -------------------------------------------------------------------------------------- */




/* ----------------------------------------- DETAILS ------------------------------------ */
.container-detail{
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--colorBackBlur);
  backdrop-filter: blur(4px);
}
.container-interno-detail{
  background-color: var(--colorBackground);
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
}
.container-interno-details{
  display: grid;
  gap: 20px;
  width: 1200px;
}
.container-img-detail{
  padding: 20px;
}
.img-detail-md{
  max-width: 600px;
  max-height: 300px;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.container-info-detail{
  display: grid;
  gap: 16px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.37);
}
.name-country-detail{
  font-family: var(--fontRoboto);
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
}
.list-detail{
  list-style: none;
}
.list-detail > li {
  font-family: var(--fontRoboto);
  font-size: 1.2rem;
  font-weight: 400;
}
.list-detail > li > span{
  font-weight: 300;
} 
.btn-view-activities{
  cursor: pointer;
  background-color: var(--colorBackBlur);
  padding: 6px 10px;
  color: black;
  letter-spacing: .5px;
  font-family: var(--fontRoboto);
  font-size: .8rem;
  border: transparent;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}
.btn-view-activities:hover{
  transition: .2s all ease-in-out;
  background-color: var(--colorHover);
  -webkit-transition: .2s all ease-in-out;
  -moz-transition: .2s all ease-in-out;
  -ms-transition: .2s all ease-in-out;
  -o-transition: .2s all ease-in-out;
}
.container-activities-detail{
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 15px;
  min-height: 200px;
}
.container-dataview{
  width: 600px;
  padding: 15px 10px 15px 10px;
}
.container-interno-dataview{
  display: grid;
}

.container-viewactivities{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
}
.container-list-view{
  min-width: 160px;
  min-height: 30px;
  padding: 6px;
  background-color: var(--colorBackBlur);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.list-view{
  list-style: none;
  font-family: var(--fontRoboto);
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: .5px;
}
.list-view > li > span{
  font-weight: 300;
}
.no-activities > p{
  font-family: var(--fontRoboto);
  font-size: 1.4rem;
  font-weight: 400;
}
/* -------------------------------------------------------------------------------------- */




/* ----------------------------------------- FOOTER ------------------------------------- */
.container-footer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10vh;
  background-color: rgb(19, 36, 92);
}
.container-interno-footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  width: 1200px;
  height: 50px;
  color: white;
}
.icon-copy-footer{
  width: 20px;
  height: 15px;
}
/* -------------------------------------------------------------------------------------- */




/* ----------------------------------------- HEADER ------------------------------------- */
.container-header{
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60vh;
  background: linear-gradient(90deg, rgba(19, 36, 92, 0.377), rgba(19, 36, 92, 0.377)), url('../resources/turismo-y-viajes-md.jpg');
  /* background-image: url('../resources/turismo-y-viajes-md.jpg'); */
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.container-img-header{
  width: 100%;
  height: 45vh;
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.container-img-header > h1 {
  display: block;
  white-space: nowrap;
  color: white;
  font-family: var(--fontRoboto);
  font-weight: 400;
  font-size: 2.8rem;
  letter-spacing: .8px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.548);
  width: 21ch;
  animation: typing 2s steps(21), blink .5s infinite step-end alternate;
  overflow: hidden;
  -webkit-animation: typing 2s steps(21), blink .5s infinite step-end alternate;
}
@keyframes typing{
  from{width: 0;}
}
@keyframes blink{
  50% {border-color: transparent;}
}

.container-img-header>h1>span{
  font-family: var(--fontRoboto);
  font-weight: 700;
  font-size: 3.4rem;
}

.container-header-navbar{
  backdrop-filter: blur(3px);
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}
/* -------------------------------------------------------------------------------------- */




/* ----------------------------------------- HOME --------------------------------------- */
/* -------------------------------------------------------------------------------------- */




/* ----------------------------------------- SEARCHBAR ---------------------------------- */
.container-navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  width: 1200px;
  height: 50px;
  padding: 10px;
}
.container-btn-navbar{
  display: flex;
  gap: 20px;
}
.btn-nav{
  border: none;
  background-color: transparent;
  letter-spacing: .5px;
  cursor: pointer;
  font-family: var(--fontRoboto);
  font-size: 1.2rem;
  font-weight: 400;
  color: white;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.548);
}
.btn-nav > span{
  font-weight: 500;
  font-size: 1.5rem;
}
.btn-nav:hover{
  transition: .1s all ease-in;
  transform: scale(1.04);
  -webkit-transform: scale(1.04);
  -moz-transform: scale(1.04);
  -ms-transform: scale(1.04);
  -o-transform: scale(1.04);
  -webkit-transition: .1s all ease-in;
  -moz-transition: .1s all ease-in;
  -ms-transition: .1s all ease-in;
  -o-transition: .1s all ease-in;
}


.container-searchbar{
  display: flex;
  justify-content: center;
  align-items: center;
}
.border-search{
  border: 1px solid rgba(26, 45, 107, 0.377);
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  background: linear-gradient(90deg, rgba(19, 36, 92, 0.144), rgba(19, 36, 92, 0.144));
}
.input-search{
  width: 150px;
  height: 25px;
  padding: 0 0 0 10px;
  outline: none;
  font-family: var(--fontRoboto);
  font-weight: 300;
  letter-spacing: .5px;
  background-color: transparent;
  color: white;
  border: transparent;
  border-radius: 25px 0 0 25px;
  -webkit-border-radius: 25px 0 0 25px;
  -moz-border-radius: 25px 0 0 25px;
  -ms-border-radius: 25px 0 0 25px;
  -o-border-radius: 25px 0 0 25px;
}
.input-search::placeholder{
  color: white;
}
.btn-search{
  width: 60px;
  height: 25px;
  cursor: pointer;
  background-color: transparent;
  letter-spacing: .5px;
  font-family: var(--fontRoboto);
  font-weight: 300;
  border: transparent;
  border-radius: 0 25px 25px 0;
  -webkit-border-radius: 0 25px 25px 0;
  -moz-border-radius: 0 25px 25px 0;
  -ms-border-radius: 0 25px 25px 0;
  -o-border-radius: 0 25px 25px 0;
}
.link-countries-btn{
  text-decoration: none;
  color: white;
}
.link-countries-btn:hover {
  transition: .3s all ease-in-out;
  color: rgba(36, 202, 36, 0.829);
  -webkit-transition: .3s all ease-in-out;
  -moz-transition: .3s all ease-in-out;
  -ms-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
}
/* -------------------------------------------------------------------------------------- */




/* ----------------------------------------- UPDATE ------------------------------------- */
.container-update{
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: var(--colorBackBlur);
  backdrop-filter: blur(4px);
}
.container-form-update{
  display: grid;
  align-items: center;
  text-align: center;
  width: 1200px;
  height: 100%;
  background-color: var(--colorBackground);
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
}
.container-form-update > h2{
  font-family: var(--fontRoboto);
  padding: 10px 0 0 0;
  font-size: 2.2rem;
  font-weight: 500;
  letter-spacing: .5px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.329);
}
.form-update{
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.lbl-form-update{
  font-family: var(--fontRoboto);
  font-size: 1.2rem;
  font-weight: 400;
  margin: 12px 0 0 0;
  letter-spacing: .5px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.295);
}
.inputs-escritura-update{
  width: 350px;
  height: 25px;
  font-family: var(--fontRoboto);
  text-align: center;
  letter-spacing: .5px;
  outline: none;
  background-color: var(--colorBackBlur);
  border: 1px solid var(--colorBorder);
  box-shadow: 1px 1px 2px rgba(44, 44, 44, 0.178);
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}
.select-options-update{
  width: 350px;
  height: 25px;
  font-family: var(--fontRoboto);
  outline: none;
  padding: 0 5px 0 5px;
  background-color: var(--colorBackBlur);
  border: 1px solid var(--colorBorder);
  box-shadow: 1px 1px 2px rgba(44, 44, 44, 0.178);
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}
.select-options-update>option {
  background-color: var(--colorInput);
  font-family: var(--fontRoboto);
  color: black;
}
.container-btn-form{
  margin: 10px 0 0 0;
}
.btn-update-form:hover{
  transition: .2s all ease-in;
  background-color: var(--colorHover);
  color: rgba(58, 190, 58, 0.829);
  box-shadow: 1px 1px 4px rgba(44, 44, 44, 0.329);
  -webkit-transition: .2s all ease-in;
  -moz-transition: .2s all ease-in;
  -ms-transition: .2s all ease-in;
  -o-transition: .2s all ease-in;
}
/* -------------------------------------------------------------------------------------- */